useDynLib(rvalues)
export(npmle)
export(tdist)
export(rvaluesMCMC)
export(npmixapply)
export(rvalues)
export(Valpha)
export(PostSummaries)
export(OverlapCurve)
export(FDRCurve)
export(TopList)
export(PostPercentile)
export(rvalueBoot)
export(MakeGrid)
export(mroot)
S3method("plot","npmix")
S3method("print","rvals")
